# Este arquivo define quem tem permissão para aprovar mudanças
# Apenas o proprietário do repositório pode fazer merge na branch main

* @MMSouzaT

# Para a branch main, requer aprovação do CODEOWNER
